#clients {
          width: 100%;
          height: 664px;
          margin-top: 104px;

          .wrapper {
                    text-align: center;
          }

          .wrapper h2 {
                    width: 1110px;
                    height: 64px;
                    font-size: 48px;
                    color: #EBE6FA;
                    text-align: center;



          }

          .wrapper {
                    p {
                              font-weight: 400;
                              font-size: 18px;
                              color: #E2E1E4;
                              padding-top: 8px;
                              text-align: center;
                              margin-left: -10px;
                    }

                    .grid {
                              position: relative;
                              display: grid;
                              place-content: center;
                              justify-content: center;
                              gap: 24px;





                              .grid-1 {
                                        position: absolute;
                                        width: 170px;
                                        height: 96px;
                                        background-color: #fff;
                                        border-radius: 16px;
                                        padding: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        left: 500px;
                                        margin-top: 80px;
                                        box-shadow: 8px 8px 52px 0px rgba(255, 255, 255, 1);




                              }

                              .grid-2 {
                                        position: absolute;
                                        width: 170px;
                                        height: 96px;
                                        background-color: #fff;
                                        border-radius: 16px;
                                        padding: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        left: 310px;
                                        top: 130px;
                                        box-shadow: 8px 8px 52px 0px rgba(255, 255, 255, 1);



                              }

                              .grid-3 {
                                        position: absolute;
                                        width: 170px;
                                        height: 96px;
                                        background-color: #fff;
                                        border-radius: 16px;
                                        padding: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        left: 120px;
                                        top: 180px;
                                        box-shadow: 8px 8px 52px 0px rgba(255, 255, 255, 1);


                              }

                              .grid-4 {
                                        position: absolute;
                                        width: 170px;
                                        height: 96px;
                                        background-color: #fff;
                                        border-radius: 16px;
                                        padding: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        left: 500px;
                                        margin-top: 200px;
                                        box-shadow: 8px 8px 52px 0px rgba(255, 255, 255, 1);



                              }

                              .grid-5 {
                                        position: absolute;
                                        width: 170px;
                                        height: 96px;
                                        background-color: #fff;
                                        border-radius: 16px;
                                        padding: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        top: 250px;
                                        left: 310px;
                                        box-shadow: 8px 8px 52px 0px rgba(255, 255, 255, 1);




                              }

                              .grid-6 {
                                        position: absolute;
                                        width: 170px;
                                        height: 96px;
                                        background-color: #fff;
                                        border-radius: 16px;
                                        padding: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        left: 690px;
                                        top: 130px;
                                        box-shadow: 8px 8px 52px 0px rgba(255, 255, 255, 1);



                              }

                              .grid-7 {
                                        position: absolute;
                                        width: 170px;
                                        height: 96px;
                                        background-color: #fff;
                                        border-radius: 16px;
                                        padding: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        left: 690px;
                                        top: 250px;
                                        box-shadow: 8px 8px 52px 0px rgba(255, 255, 255, 1);



                              }

                              .grid-8 {
                                        position: absolute;
                                        width: 170px;
                                        height: 96px;
                                        background-color: #fff;
                                        border-radius: 16px;
                                        padding: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        left: 880px;
                                        top: 180px;
                                        box-shadow: 8px 8px 52px 0px rgba(255, 255, 255, 1);



                              }

                              .grid-9 {
                                        position: absolute;
                                        width: 170px;
                                        height: 96px;
                                        background-color: #fff;
                                        border-radius: 16px;
                                        padding: 35px;
                                        align-items: center;
                                        justify-content: center;
                                        left: 500px;
                                        margin-top: 320px;
                                        box-shadow: 8px 8px 52px 0px rgba(255, 255, 255, 1);


                              }
                    }

          }

}

