#animate {
          width: 100%;
          height: auto;

          .wrapper {
                    .component-5 {
                              width: 263px;
                              height: 263px;
                    }

                    h2 {
                              font-size: 48px;
                              color: #fff;
                    }
          }

}